/* SETTINGS */
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
}
ul,
h1,
h2,
h3,
img,
li,
a,
button,
span,
section,
p,
div,
fieldset,
input {
  margin: 0;
  padding: 0;
}
input,
button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
html {
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  overflow-wrap: break-word;
}
.main-container {
  flex-grow: 1;
}

/* HEADER */
.container-header {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}
.nav-menu-header {
  display: flex;
}
.logo-sedona {
  display: block;
  background-image: url(/images/logo-sedona.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px;
  height: 70px;
}
.nav-menu-links {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
}
.nav-menu-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.nav-menu-link-item {
  padding: 20px 16px;
}
.others-links-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.others-links-header-list {
  display: flex;
  margin-right: 20px;
}
.btn {
  background-color: rgba(117, 97, 87, 1);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.want-here {
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
}
.links-icon {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
}
.icon-search {
  background-image: url(../images/search.svg);
}
.icon-favorites {
  background-image: url(../images/favorites.svg);
}

/* WELCOME */

.container-welcome-image {
  background: aliceblue url(../images/mountains-background.jpg) no-repeat center;
  height: 485px;
}
.container-welcome-image img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}
/* acquaintance */

.container-acquaintance {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 69px;
  color: rgba(51, 51, 51, 1);
}
.acquaintance-header {
  margin: 0 auto;
  width: 620px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

/* REASONS */

.list-reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-reason-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
}

.list-reason-header {
  margin: 0 auto;
  width: 175px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 62px;
}
.list-reason-item-text {
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 21px;
}
.reason-image {
  display: block;
  height: 385px;
  padding: 0;
}
.dark {
  padding-top: 102px;
  padding-bottom: 102px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}
.dark p {
  color: inherit;
}
.light {
  background-color: rgba(131, 179, 211, 0.2);
}
/* invite */
.invite-container {
  padding-top: 64px;
  padding-bottom: 64px;
}
.invite-header {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  width: 505px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.invite-text {
  text-align: center;
  color: rgba(51, 51, 51, 1);
}
/* ADVICE */

.container-advice {
  text-align: center;
}
.wrapper-advice-text {
  margin-bottom: 64px;
}

.advice-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.advice-item {
  width: 230px;
  padding: 81px 85px;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 21px;
}
.advice-item-header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}
.advice-item img {
  margin-bottom: 30px;
}

/* HOTEL-SEARCH */
.container-hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}
.hotel-search-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.search-hotel {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}
.hotel-search-text {
  margin-bottom: 54px;
}

/* SUBSCRIPTION */

.container-footer-subscription {
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  background-image: url(../images/background-subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscription-article {
  padding-top: 96px;
  padding-bottom: 104px;
}
.subscription-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.subscription-text {
  margin-bottom: 54px;
}
.subscription-inputs {
  display: flex;
  justify-content: center;
}
.subscribe-input {
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  padding: 14px 20px;
}
.subscribe-btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

/* FOOTER */

.footer-company-info-container {
  padding: 40px 70px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-links-icon {
  padding: 13px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.icon-vk {
  background-image: url(../images/footer-logo-vk.svg);
  width: 24px;
  height: 14px;
}
.icon-telegram {
  background-image: url(../images/footer-logo-telegram.svg);
  width: 18px;
  height: 16px;
}
.icon-youtube {
  background-image: url(../images/footer-logo-youtube.svg);
  width: 22px;
  height: 17px;
}
.footer-number {
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.icon-htmlacademy {
  background-image: url(../images/footer-logo-htmlacademy.svg);
  width: 115px;
  height: 33px;
}

/* CATALOG PAGE */

/* FILTER-HOTELS */

fieldset {
  border: none;
}

.container-filter-hotels {
  color: rgba(255, 255, 255, 1);
  background: black url(../images/background-filter.png) no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}
.catalog-header {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 8px;
}
.icons-breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 13px;
  height: 15px;
  margin-right: 10.5px;
}
.link-home {
  background-image: url(../images/icons-home.svg);
}

.all-form {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 23px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.infrastructure-form {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.infrastructure-form label {
  margin-bottom: 16px;
}
.housing-form {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.housing-form label {
  margin-bottom: 16px;
}
.price-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 288px;
}
.price-form-input {
  box-sizing: border-box;
  width: 143px;
  border: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.input-1 {
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-2 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.range {
  width: 100%;
}
.btns-form {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 191px;
}
.infrastructure-form-btn {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 50px;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}
.reset {
  margin-top: auto;
  background-color: rgba(130, 179, 211, 0);
}
/* FILTER-SEARCH */
.container-filter-search {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}
.filter-search-text {
  width: 50%;
}
.filter-search-activity {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.search-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
}

.filter-price-range {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  width: 292px;
  max-height: 49px;
  padding: 14px 0 14px 20px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.display-change-items {
  display: flex;
  gap: 8px;
}
.display-change-item {
  width: 48px;
  height: 48px;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.show-change-button {
  align-self: center;
  margin: 0 auto;
  display: block;
  width: 16px;
  height: 14px;
  border: none;
}
.button-1 {
  background-image: url(../images/view-icon-1.svg);
}
.button-2 {
  background-image: url(../images/view-icon-2.svg);
}
.button-3 {
  background-image: url(../images/view-icon-3.svg);
}

/* LIST-HOTELS */

.container-list-hotels {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.list-hotels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  padding: 19px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}
.hotel-foto {
  margin-bottom: 16px;
}
.title-hotel {
  font-size: 24px;
  line-height: 28px;
  width: 300px;
  margin-bottom: 16px;
}
.housing-class {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  width: 140px;
}
.price {
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  width: 140px;
}
.button-hotel {
  margin-top: 16px;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  padding: 8px 26px;
  border-radius: 4px;
  border: none;
}
.detail-btn {
  background-color: rgba(117, 97, 87, 1);
}
.add-favorite-btn {
  padding: 8px 20px;
  background-color: rgba(130, 179, 211, 1);
}
.hotel:nth-child(2) button:nth-of-type(2) {
  background-color: rgba(125, 181, 79, 1);
  padding: 8px 18px;
}
.stars {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 140px;
}
.star {
  display: inline-block;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 17px;
}
.star:not(:last-child) {
  margin-right: 6px;
}
.rating {
  margin-top: 16px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 22px 8px 23px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}
.pages-list {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 60px;
}
.page {
  background-color: rgba(130, 179, 211, 1);
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}

.page a {
  width: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 4px;
}
.page:nth-child(1) {
  background-color: rgba(242, 242, 242, 1);
}
.pages-list li:nth-child(5) {
  background-color: rgba(130, 179, 211, 0);
}
.pages-list li:nth-child(6) a {
  padding: 11px 18px;
}
.footer-catalog {
  color: rgba(0, 0, 0, 1);
  background: rgba(245, 245, 245, 0);
}
.footer-catalog p {
  color: rgba(51, 51, 51, 1);
}
.input-color {
  background-color: rgba(242, 242, 242, 1);
}
